
*.dll

*.db

*.vsidx

*.pdb

*.exe

*.db-shm

*.db-wal

*.cache

*.bin

*.v2

ShingekiNoAPP/BarberShopAPI/.vs/ShingekiNoAPPI/v17/

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/EndpointInfo/ShingekiNoAPPI.json

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/rpswa.dswa.cache.json

ShingekiNoAPP/BarberShopAPI/DTO/obj/Debug/net8.0/DTO.AssemblyInfo.cs

ShingekiNoAPP/BarberShopAPI/DTO/obj/Debug/net8.0/DTO.sourcelink.json

ShingekiNoAPP/BarberShopAPI/Datos/obj/Debug/net8.0/Datos.AssemblyInfo.cs

ShingekiNoAPP/BarberShopAPI/Negocio/obj/Debug/net8.0/Business.AssemblyInfo.cs

ShingekiNoAPP/BarberShopAPI/Negocio/obj/Debug/net8.0/Business.sourcelink.json

ShingekiNoAPP/BarberShopAPI/Datos/obj/Debug/net8.0/Datos.sourcelink.json

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/ShingekiNoAPPI.sourcelink.json

ShingekiNoAPP/BarberShopAPI/BarberShopAPI/obj/Debug/net8.0/ShingekiNoAPPI.AssemblyInfo.cs
